body {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: radial-gradient( #120b4a 85%, #36a6f1 90%,#0d1725 20%);
    background-size: 50px 50px;
}

/* From Uiverse.io by hakemdamer222 */ 
.general-buttons,
.general-buttons:focus {
  padding: 2px;
  border-radius: 0.7rem;
  background-image: linear-gradient(#d1cafe, #818efe);
  border: 2px solid #323232;
  border-bottom: 5px solid #323232;
  box-shadow: 0px 1px 6px 0px #8183fe;
  transform: translate(0, -3px);
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
}

.general-buttons:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

/* From Uiverse.io by SamadAzz */ 
.btn-scoreboard {
    position: relative;
    transition:
      color 0.48s 0s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 12px 24px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: inherit;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  .btn-scoreboard span {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6;
  }
  
  .btn-scoreboard::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 50%;
    transform: translateY(-50%) scaleY(0);
    width: 3px;
    height: 100%;
    background: #8183fe;
    transition:
      transform 0.48s 0.4s cubic-bezier(0.23, 1, 0.32, 1),
      width 0.48s 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .btn-scoreboard:hover {
    color: #ffffff;
    transition:
      color 0.48s 0.24s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.48s 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .btn-scoreboard:hover::before {
    transform: translateY(-50%) scaleY(1);
    width: 100%;
    transition:
      transform 0.48s 0.1s cubic-bezier(0.23, 1, 0.32, 1),
      width 0.48s 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .btn-scoreboard:active {
    transform: scale(0.95);
  }

  footer{
    background-color: #4b8cc9;
    padding: 12px;
    margin-top: 12px;
}

footer a{
    color: white;
}

footer a:hover{
    color: #120B4A;
}

.card-tools-site {
  margin: auto;
  font-size: 20px;
  box-sizing: border-box;
  width: 190px;
  height: 200px;
  background: #8183FE;
  border: 1px solid white;
  box-shadow: 1px 1px 5px #8183FE;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: white;
}

.card-tools-site:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-tools-site:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.col-tools {
  margin-bottom: 12px;
} 

/* From Uiverse.io by Brola2008 */ 
.one-div {
  margin: auto;
  font-size: 20px;
  box-sizing: border-box;
  width: 190px;
  height: 200px;
  background: #81fed4;
  border: 1px solid white;
  box-shadow: 1px 1px 5px #8183FE;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: white;
  width: 190px;
  height: 250px;
}

.one-div::after {
  content: "HOVER ME";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(0,0,0);
  transition: .3s;
}

.one-div:hover {
  scale: 1.1;
  border-radius: 20px 80px;
  box-shadow: 11px 11px 25px rgba(0, 0, 0, 0.5);
}

.one-div:hover::after {
  content: "THANKS";
  color: aqua;
}
